<!--<p>
  <%= link_to "Flickr images", "#", id: "flickr-link" %>
</p> -->
<!-- HTML-код модального окна -->
<div id="flickrModalBox" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Выбор изображения с Flickr</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
        <%= render 'dashboard/flickr/form' %>  
      </div>
    </div>
  </div>
</div>